body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
background:yellow;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
margin:10px;
text-decoration:none;
font-weight:bold;
color:black;
}

.football-bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
overflow:hidden;
z-index:-1;
}

.football{
position:absolute;
width:80px;
animation:moveBall 12s linear infinite;
}

@keyframes moveBall{

0%{
left:-100px;
top:20%;
transform:rotate(0deg);
}

25%{
top:40%;
}

50%{
top:60%;
}

75%{
top:30%;
}

100%{
left:110%;
top:50%;
transform:rotate(720deg);
}

}
.hero{
background:red;
color:white;
text-align:center;
padding:80px 20px;
}

.hero button{
padding:10px 20px;
border:none;
background:yellow;
font-weight:bold;
cursor:pointer;
}

#typing-text{
font-size:32px;
font-weight:bold;
border-right:3px solid yellow;
display:inline-block;
padding-right:5px;
}
section{
padding:50px;
text-align:center;
}

.players{
display:flex;
justify-content:center;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
width:200px;
}

.gallery img{
margin:10px;
border-radius:10px;
}

#contact{
padding:60px;
background:#f4f4f4;
text-align:center;
}

#contact h2{
font-size:32px;
margin-bottom:30px;
color:#222;
}

.form-container{
max-width:500px;
margin:auto;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

form{
display:flex;
flex-direction:column;
}

form input,
form textarea{
padding:12px;
margin:10px 0;
border:1px solid #ddd;
border-radius:8px;
font-size:16px;
outline:none;
transition:0.3s;
}

form input:focus,
form textarea:focus{
border-color:red;
box-shadow:0 0 5px rgba(255,0,0,0.4);
}

form button{
margin-top:15px;
padding:12px;
border:none;
background:red;
color:white;
font-size:16px;
font-weight:bold;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

form button:hover{
background:yellow;
color:black;
transform:scale(1.05);
}

footer{
background:black;
color:white;
text-align:center;
padding:20px;

}
